.img_line {
    visibility: hidden;
    display: none;

    @include tablet {
        visibility: visible;
        display: block;
    }
}

.img_hidden {
    visibility: visible;

    @include tablet {
        visibility: hidden;
    }
}