$primary-color:  rgb(8, 154, 194);
$secondary-color: lightblue;
$black: black;
$white: white;
$blue-light: rgb(193, 214, 226);
$blue-dark: rgb(25, 25, 113);
$gray-base: rgb(159, 158, 158);

$box-shadow: 0 0 4px 0 $gray-base;
$text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
$drop-shadow: drop-shadow(0 0 15px $gray-base);

$fontSegoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontMonserrat: 'Montserrat', sans-serif;
$font-size-text: 15px;

$maxwidth: 100%;

$tablet: 768px;
$destok: 1024px;
